.container {
  position: fixed;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

canvas {
  position: relative;
  grid-column: 1 / 2;
  width: 75vw;
  height: 100vh;
}

.menu {
  background-color: rgb(212, 212, 212);
  position: relative;
  grid-column: 2 / 3;
}
